<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

  <div style="background-color: #FF69B4;">
    <div class="container">

      <!-- Grid row-->
      <div class="row py-4 d-flex align-items-center">

        <!-- Grid column -->
        <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0">Our mission - Change and improve the world through people!</h6>
        </div>
        <!-- Grid column -->
        <a class="btn btn-social-icon btn-twitter">
        <span class="fa fa-twitter"></span>
      </a>
      </div>
      <!-- Grid row-->

    </div>
  </div>

  <!-- Footer Links -->
  <div class="container text-center text-md-left mt-5">

    <!-- Grid row -->
    <div class="row mt-3 dark-grey-text">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

        <!-- Content -->
        <h6 class="text-uppercase font-weight-bold">CURSOR.EDUCATION</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>There are people who change the world with their dreams, such as Elon Musk. Our goal is to give impetus to such people,
          find them and help them believe in themselves and their dreams so that they lead our world into the technological future.</p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Coursess</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="https://cursor.education/uk/frontend-basic">FRONT-END BASIC</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://cursor.education/uk/python-basic">PYTHON BASIC </a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://cursor.education/uk/python-advanced">PYTHON ADVANCED</a>
        </p>
        <p>
          <a class="dark-grey-text" href="https://cursor.education/uk/frontend-advanced">FRONT-END ADVANCED</a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Useful links</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text" href="/">{{ config.BLOG_TITLE}}</a>
        </p>
        <!--<p>
          <a class="dark-grey-text" href="{{ config.MENU_ITEMS[0]['link']}}">{{ config.MENU_ITEMS[0]['name']}}</a>
        </p>-->
        <p>
          <a class="dark-grey-text" id="footerList"></a>
        </p>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

        <!-- Links -->
        <h6 class="text-uppercase font-weight-bold">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> Zamarstynivska Street, 79, Lviv</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> HELLO@CURSOR.EDUCATION</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +38 067 527 41 31</p>
        <p>
          <i class="fas fa-print mr-3"></i> +38 (067) 527 30 54</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center text-black-50 py-3">2013-2021 CURSOR EDUCATION:
    <a class="dark-grey-text" href="https://cursor.education/uk/"> Cursor.education </a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->