
<footer class="text-center text-lg-start bg-light text-muted">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xs-12 contact-us">
                <h5><i class="fa fa-road"></i> Cursor</h5>
                <div class="row">
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a class="dark-grey-text" href="https://cursor.education/uk/frontend-basic">FRONT-END BASIC</a></li>
                            <li><a class="dark-grey-text" href="https://cursor.education/uk/python-basic">PYTHON BASIC </a></li>
                            <li><a class="dark-grey-text" href="https://cursor.education/uk/python-advanced">PYTHON ADVANCED</a></li>
                            <li><a class="dark-grey-text" href="https://cursor.education/uk/frontend-advanced">FRONT-END ADVANCED</a></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul class="list-unstyled">
                            <li><a class="dark-grey-text" href="/">{{ config.BLOG_TITLE}}</a></li>
                            <li><a class="dark-grey-text" href="{{ config.MENU_ITEMS[0]['link']}}">{{ config.MENU_ITEMS[0]['name']}}</a></li>

                        </ul>
                    </div>
                </div>
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link pl-0"><i class="fa fa-facebook fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-twitter fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-github fa-lg"></i></a></li>
                    <li class="nav-item"><a href="" class="nav-link"><i class="fa fa-instagram fa-lg"></i></a></li>
                </ul>
                <br>
            </div>
            <div class="col-md-2">
                <h5 class="text-md-right">Contact Us</h5>
                <hr>
            </div>
            <div class="col-md-5">
                <form>
                    <fieldset class="form-group">
                        <input type="text" required class="form-control" id="title" name="title" placeholder="Enter title">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Empty slug
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="email" required class="form-control" id="email" name="email" placeholder="Enter email">
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Empty slug
                        </div>
                    </fieldset>
                    <fieldset class="form-group">
                        <textarea class="form-control" id="exampleMessage" placeholder="Description"></textarea>
                        <div class="invalid-feedback">
                            Empty description
                        </div>
                    </fieldset>
                    <fieldset class="form-group text-xs-right" role="group" aria-label="Create article" >
                        <button type="button" class="btn btn-secondary" id="sendContactForm" >Send</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</footer>